@model EventRegistrationSystem.Models.Dto.EventRequestDto

<h1>CreateEvent</h1>
<div class="container">
    <form method="post" asp-action="CreateEvent">
        <div class="mb-3">
            <label class="form-label" for="Title">Title</label>
            <input class="form-control" type="text" name="Title" id="Title" value="@Model.Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Description">Description</label>
            <input class="form-control" type="text" name="Description" id="Description" value="@Model.Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Capacity">Capacity</label>
            <input class="form-control" type="number" name="Capacity" id="Capacity" value="@Model.Capacity" />
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="EventDate">Event Date</label>
            <input class="form-control" type="datetime-local" name="EventDate" id="EventDate" />
            <span asp-validation-for="EventDate" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create Event</button>
    </form>
        </div>

</div>
